*,
::after,
::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat\ Alternates\ Regular.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Montserrat' , sans-serif;
}

/*Encabezado*/

.encabezado{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.franja{
    width: 100%;
    height: 20px;
    background-color:#085f63;
    display: none;
}

.nav{
    /*background-color:darkorchid;*/
    border-bottom: #656d65 solid 1px;
}

.nav-contenedor{
    /*background-color: red;*/

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;

    --icono-toggle-menu: url('../assets/menu-open.svg');
    --transform-mostrar-menu: translate(-100%)
}

/*pseudo clase para animacion*/
.nav-contenedor:has(.nav-checkbox-entrada:checked){
    --icono-toggle-menu: url('../assets/menu-close.svg');
    --transform-mostrar-menu: translate(0)
}
.nav-figura{

    margin: 16px 0px;
    width: 140px;
    height: 40px;
    z-index: 10;
}

.nav-logo{
    width: 100%;
    height: 100%;
}

.nav-checkbox{
    width: 30px;
    height: 30px;
    background-image: var(--icono-toggle-menu);
    background-size: cover;
    z-index: 10;

    cursor: pointer;

    transition: background-image .5s;
}

.nav-checkbox-entrada{
    width: 20px;
    height: 20px;
    display: none;
}

.nav-lista{

    transform: var(--transform-mostrar-menu);
    position: fixed;
    inset: 0;

    display: grid;
    align-content: center;
    justify-items: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    list-style: none;

    transition: .5s transform;
}

.nav-link{
    color: #085f63;
    text-decoration: none;
}

@media (width > 600px){

    .franja{
        display: block;
    }
    .nav-contenedor{
        --transform-mostrar-menu: translate(0);
    }

    .nav-checkbox{
        display: none;
    }

    .nav-lista{
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
        display: flex;
        align-items: center;
    }

    .nav-item{
        padding: 0.5rem 1rem;
    }
    .nav-link{
        color: #656d65;
        font-weight: bold;
    }

    .inicio{
        display: none;
    }

    .boton{
        font-weight: normal;
        background-color: #085f63;
        color: white;
        display: inline-block;
        border-radius: 15px;
        padding: 0.5rem 1rem;
    }
}
