*,
::after,
::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat\ Alternates\ Regular.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Montserrat' , sans-serif;
}
