/*Configuracion General*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'montserrat'; 
    src: url('../assets/Montserrat Alternates Regular.ttf') format('truetype'); 
}



body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*SECCION DE SLIDER DE IMAGENES*/

#slider-seccion {
    margin-top: 10rem;
}

.slider-contenedor {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-tarjeta {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenedor del texto */
.slider-tarjeta-texto {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;

    background-color: rgba(73, 190, 183, 0.8);
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.slider-tarjeta-texto h2 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.8rem);
    margin: 0 0 0 0;
    margin-block-end: 0.5rem;
    margin-block-start: 0.5rem;
}

.slider-tarjeta-texto p {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.8rem);
    margin: 0 0 0 0;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position:absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    opacity: .75;
    transition: opacity ease 250ms;
}

/*SECCION DE ICONOS*/

#iconos-seccion {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    width: 99.5%;
}

.iconos-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    background-color: #49beb7;
    padding: 0;
}


.icono {
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
}

.icono:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.limites{
    grid-column: span 2;
}

.icono figure {
    width: 8vw;
    min-width: 34px;
    max-width: 50px;
    margin-block-end: 0.1rem;
}

.icono figure img {
    width: 100%;
    height: auto;
}

.icono h4 {
    margin: 0 0 0 0;
    margin-block-end: 1rem;
    margin-block-start: 0.5rem;
}

/*SECCION DE TARJETAS INFORMATIVAS*/

#tarjetas-informativas {
    color: white;
    text-align: center; 
    h1 { font-size: 3.5em; }
    h2 { font-size: 2em;
        text-shadow: 3px 3px 5px black; }
    h3 { font-size: 1.3em; }
    h4 { font-size: 1.2em; }
    p { font-size: 1.3em;}
}

#tarjetas-informativas .contenedor {
    padding: 0 10px; /* Márgenes laterales */
    max-width: 1200px; /* Limita el ancho */
    margin: 0 auto; /* Centra el contenedor */
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
}

#tarjetas-informativas .tarjeta {
    flex: 0 1 clamp(300px, 50%, 600px); /* Ancho dinámico con límites */
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 450px; /* Altura fija */
    box-sizing: border-box;
    

    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
}
#tarjetas-informativas .tarjeta p{
    line-height: 1.5;
    font-weight: 550;
    text-shadow: 3px 3px 4px black;
}
#tarjetas-informativas .tarjeta button {
    all: unset;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.3em; /* Exclusivo para tarjetas */
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(8,95,99);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 15px;
    
}

#tarjetas-informativas .tarjeta button:hover {
    background-color: rgb(230, 230, 230); /* Color más oscuro para el hover */
    filter: brightness(0.9); /* Ajusta el brillo */
    transition: background-color 0.3s ease; /* Animación suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

#tarjetas-informativas .tarjeta button:active {
    background-color: rgb(150, 150, 150); /* Color aún más oscuro para el clic */
    filter: brightness(0.8); /* Reduce el brillo ligeramente */
}




/* Estilos específicos para tarjetas individuales */
.tarjeta:nth-child(1) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.2)
    ), url('../assets/cerdito.jpeg');
}

.tarjeta:nth-child(2) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.2)
    ), url('../assets/secretaria.jpeg');
}

.tarjeta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.2)
    ), url('../assets/acuerdo.jpeg');
}

.tarjeta:nth-child(4) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
    ), url('../assets/graduacion.jpeg');
    background-size: cover;
    background-position: center;

    h2 {
        margin-bottom: 10px; 
    }

    p {
        margin-top: 5px; 
        margin-bottom: 15px; /* Espaciado adicional debajo del párrafo */
    }

    button {
        margin-top: auto; /* Mantiene el botón al final */
        margin-bottom: 15px; /* Espacio adicional debajo del botón */
    }
}


/*ESTILOS PARA PANTALLAS MAS GRANDES*/

@media (min-width: 720px) {
    .iconos-contenedor {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1440px;
    }
    .icono {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        border: none;
    }

    .limites{
        grid-column: auto;
    }

    #tarjetas-informativas .contenedor {
        justify-content: center; 
    }

    #tarjetas-informativas .tarjeta {
        flex: 0 1 clamp(300px, 48%, 600px); /* Fluidez con límites en pantallas grandes */
    }
}

